


.custom-select {
    position: relative;
    width: 200px;
  }
  
  .select-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .selected-option {
    flex: 1;
    color: #666;
  }
  
  .dropdown-icon {
    margin-left: 10px;
  }
  
  .options-list {
    position: absolute;
    top: 62%;
    left: 0;
    width: 79%;
    max-height: 200px;
    overflow-y: auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    z-index: 1;
  }
  
  .options-list li {
    padding: 10px;
    cursor: pointer;
  }
  
  .options-list li:hover {
    background-color: #f2f2f2;
  }
  